<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript" src="/js/main.js"></script>

<!-- {% if site.ga.id %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{site.ga.id}}', '{{site.ga.host}}');
    ga('send', 'pageview');
</script>
{% endif %} -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>

<!-- The core Firebase JS SDK is always required and must be listed first
    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script> -->

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<!-- Loads the entire Firebase JavaScript SDK -->
<!-- <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase.js"></script> -->

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDhNiqEKaAWCfb9PWixjJlYfqNKhcxmKkM",
        authDomain: "my-blog-fe3cf.firebaseapp.com",
        databaseURL: "https://my-blog-fe3cf.firebaseio.com",
        projectId: "my-blog-fe3cf",
        storageBucket: "",
        messagingSenderId: "849972739117",
        appId: "1:849972739117:web:56a7d58f595fc3ad"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    var bigOne = document.getElementById('bigOne');
    // var dbRef = firebase.database().ref().child('text');
    // dbRef.on('value', snap => bigOne.innerText = snap.val());

    $.getJSON('https://api.ipify.org?format=json', function (data) {
        // var imageUrl = data.ip;
        sessionStorage.setItem("allJson", JSON.stringify(data.ip));
    });

    var userIp = JSON.parse(sessionStorage.getItem("allJson"));

    function getTime() {     	//获取时间
        var date = new Date();

        var year = date.getFullYear();
        var month = date.getMonth();
        var day = date.getDate();

        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();

        //这样写显示时间在1~9会挤占空间；所以要在1~9的数字前补零;
        if (hour < 10) {
            hour = '0' + hour;
        }
        if (minute < 10) {
            minute = '0' + minute;
        }
        if (second < 10) {
            second = '0' + second;
        }

        var x = date.getDay();//获取星期
        var time = year + '/' + month + '/' + day + '/' + hour + ':' + minute + ':' + second
        return time;
    }

    var userTime = getTime();
    // alert(userTime);

    function writeUserData(userIp, userTime) {
        firebase.database().ref('time' + userTime).set({
            ip: userIp,
            time: userTime
        });
    }

    writeUserData(userIp, userTime);

</script>

<!-- <script>
    $.getJSON('https://api.ipify.org?format=json', function (data) {
        alert(data.ip);
    });
</script> -->

<!-- <script>
    $.getJSON('http://ipinfo.io?token=53c5bf38a9e562', function (data) {
        alert(data.ip);
    });
</script> -->

<!-- 存储服务 -->
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.15.0/dist/av-min.js"></script>
<!-- 即时通讯服务 -->
<script src="//cdn.jsdelivr.net/npm/leancloud-realtime@5.0.0-beta.0/dist/realtime.browser.min.js"></script>

