<section class="menu">
        <menu>
                <span class="menu__copyright">
                <a href="/english">Home</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Research</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Publication</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Posts</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Follow</a>
                </span>
        </menu>
</section>