<section class="menu">
        <menu>
                <span class="menu__copyright">

                        <a id="menuCn_home" href="/chinese/home">主页</a>
                        <a>&nbsp &nbsp </a>
                        <a id="menuCn_projects" href="/chinese/projects">项目</a>
                        <a>&nbsp &nbsp </a>
                        <a id="menuCn_research" href="/chinese/research">研究</a>
                        <a>&nbsp &nbsp </a>
                        <a id="menuCn_share" href="/chinese/posts">分享</a>
                        <a>&nbsp &nbsp </a>
                        <a id="menuCn_follow" href="/chinese/follow">关注</a>

                        <!-- 更改点击后菜单栏显示效果 -->
                        <script type="text/javascript">
                                var currentUrl = window.location.pathname;
                                currentUrl = currentUrl.match(/chinese(\S*)/)[1];
                                // alert(currentUrl);
                                if (currentUrl == "/home") {
                                        document.getElementById("menuCn_home").style.color = "white";
                                }
                                else if (currentUrl == "/projects") {
                                        document.getElementById("menuCn_projects").style.color = "white";
                                }
                                else if (currentUrl == "/research") {
                                        document.getElementById("menuCn_research").style.color = "white";
                                }
                                else if (currentUrl == "/posts") {
                                        document.getElementById("menuCn_share").style.color = "white";
                                }
                                else if (currentUrl == "/follow") {
                                        document.getElementById("menuCn_follow").style.color = "white";
                                }
                        </script>

                </span>
        <menu>
</section>