<section class="menu">
        <div>
                <span class="menu__copyright">
                <a href="/chinese">主页</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">项目</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">发表</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">分享</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">关注</a>
                </span>
        </div>
</section>