<section class="menu">
        <menu>
                <span class="menu">
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">主页</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">项目</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">发表</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">分享</a>
                <a>&nbsp &nbsp </a>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">关注我</a>
                </span>
        </menu>
</section>