<section id='read-nex-pre-chinese' class="read-more">
    {% if page.next %}
    {% assign current = page.next %}
    <div class="read-more-item">
        <span class="read-more-item-dim">最近的文章</span>
        <h2 class="post-list__post-title post-title"><a href="{{ current.url }}"
                title="link to {{ current.title }}">{{ current.title }}</a></h2>
        <p class="excerpt">{{ current.content | markdownify | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
        <div class="post-list__meta"><time datetime="{{current.date | date: date_to_xmlschema}}"
                class="post-list__meta--date date">{{current.date | date: "%F"}}</time> &#8226; <span
                class="post-list__meta--tags tags">{{current.tags | join:' '}}</span><a class="btn-border-small"
                href={{current.url}}>继续阅读</a></div>
    </div>
    {% endif %}

    {% if page.previous %}
    {% assign current = page.previous %}
    <div class="read-more-item">
        <span class="read-more-item-dim">更早的文章</span>
        <h2 class="post-list__post-title post-title"><a href="{{ current.url }}"
                title="link to {{ current.title }}">{{ current.title }}</a></h2>
        <p class="excerpt">{{ current.content | markdownify | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
        <div class="post-list__meta"><time datetime="{{current.date | date: date_to_xmlschema}}"
                class="post-list__meta--date date">{{current.date | date: "%F"}}</time> &#8226; <span
                class="post-list__meta--tags tags">{{current.tags | join:' '}}</span><a class="btn-border-small"
                href={{current.url}}>继续阅读</a></div>
    </div>
    {% endif %}
</section>

<section id='read-nex-pre-english' class="read-more">
    {% if page.next %}
    {% assign current = page.next %}
    <div class="read-more-item">
        <span class="read-more-item-dim">Recent post</span>
        <h2 class="post-list__post-title post-title"><a href="{{ current.url }}"
                title="link to {{ current.title }}">{{ current.title }}</a></h2>
        <p class="excerpt">{{ current.content | markdownify | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
        <div class="post-list__meta"><time datetime="{{current.date | date: date_to_xmlschema}}"
                class="post-list__meta--date date">{{current.date | date: "%F"}}</time> &#8226; <span
                class="post-list__meta--tags tags">{{current.tags | join:' '}}</span><a class="btn-border-small"
                href={{current.url}}>Read more</a></div>
    </div>
    {% endif %}

    {% if page.previous %}
    {% assign current = page.previous %}
    <div class="read-more-item">
        <span class="read-more-item-dim">Earlier post</span>
        <h2 class="post-list__post-title post-title"><a href="{{ current.url }}"
                title="link to {{ current.title }}">{{ current.title }}</a></h2>
        <p class="excerpt">{{ current.content | markdownify | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
        <div class="post-list__meta"><time datetime="{{current.date | date: date_to_xmlschema}}"
                class="post-list__meta--date date">{{current.date | date: "%F"}}</time> &#8226; <span
                class="post-list__meta--tags tags">{{current.tags | join:' '}}</span><a class="btn-border-small"
                href={{current.url}}>Read more</a></div>
    </div>
    {% endif %}
</section>

<script type="text/javascript">
    var currentUrl = window.location.pathname;
    currentUrl = currentUrl.slice(0, 4);
    // alert(currentUrl);
    document.getElementById("read-nex-pre-chinese").style.display = "none";
    document.getElementById("read-nex-pre-english").style.display = "none";
    if (currentUrl == "/chi") {
        document.getElementById("read-nex-pre-chinese").style.display = "block";
    }
    else if (currentUrl == "/eng") {
        document.getElementById("read-nex-pre-english").style.display = "block";
    }
</script>