<!DOCTYPE html>
<html>
{% include head.html %}

<body>

  <span class="mobile btn-mobile-menu">
    <i class="fa fa-list btn-mobile-menu__icon"></i>
    <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
  </span>

  {% include side-panel.html %}

  <div class="content-wrapper">

    <div id="menu_english" class="content-wrapper__inner">
      {% include menu_english.html %}
    </div>

    <div id="menu_chinese" class="content-wrapper__inner">
      {% include menu_chinese.html %}
    </div>

    <div id="div2" class="content-wrapper__inner">
      {{ content }}
    </div>

    <div id="footer_english" class="content-wrapper__inner">
      {% include footer_english.html %}
    </div>

    <div id="footer_chinese" class="content-wrapper__inner">
      {% include footer_chinese.html %}
    </div>

    <script type="text/javascript">
      var currentUrl = window.location.pathname;
      currentUrl = currentUrl.slice(0,4);
      // alert(currentUrl);
      document.getElementById("menu_english").style.display = "none";
      document.getElementById("menu_chinese").style.display = "none";
      document.getElementById("footer_english").style.display = "none";
      document.getElementById("footer_chinese").style.display = "none";
      if (currentUrl == "/eng") {
        document.getElementById("menu_english").style.display = "block";
        document.getElementById("footer_english").style.display = "block";
      }
      else if (currentUrl == "/chi") {
        document.getElementById("menu_chinese").style.display = "block";
        document.getElementById("footer_chinese").style.display = "block";
      }
    </script>

  </div>

  {% include external.html %}

</body>

</html>